{
    "extends": ["@eejit/eslint-config-typescript"],
    "env": { "browser": true },
    "parserOptions": { "project": "./tsconfig.json" },
    "rules": {
        "unicorn/catch-error-name": ["error", { "ignore": ["errorCode"] }]
    }
}
