#ajax-undo-loading {
    display: none;
    height: 1.3em;
    line-height: 1.5em;
    vertical-align: text-bottom;
    overflow: hidden;

    &::after {
        display: inline-table;
        color: gray;
        text-align: left;
        white-space: pre;
        animation: ajax-undo-loading 0.8s steps(10) infinite;
        content: "⠋\a⠙\a⠹\a⠸\a⠼\a⠴\a⠦\a⠧\a⠇\a⠏";
    }

    &:not(.is-diff) {
        margin: -0.3em 3px 0;
    }

    &.is-diff {
        height: 1.55em;
    }

    &.is-minerva {
        &:not(.is-diff) {
            float: right;
            margin-top: 0;
        }

        &.is-diff {
            margin: -0.2em 3px;
        }
    }
}

@keyframes ajax-undo-loading {
    to {
        transform: translateY(-15em);
    }
}

#ajax-undo-reason {
    display: none;
    margin-left: 3px;

    &.is-minerva {
        padding: revert;
        background: revert;
        border: revert;

        &:not(.is-diff) {
            float: right;
            height: 26px;
        }
    }
}
