.kephir-sagittarius-error,
.kephir-sagittarius-invite,
.kephir-sagittarius-editor {
    font-size: smaller;
    margin: 2em 0 0 0;
    padding: 0.25em 0.75em;
}

.kephir-sagittarius-error {
    background: #fdd;
    border: 1px solid #f00;
}

.kephir-sagittarius-invite {
    background: #fed;
    border: 1px solid #f90;
}

.kephir-sagittarius-editor {
    background: #dfd;
    border: 1px solid #090;
}

.kephir-sagittarius-editor .tag-list > dd {
    margin: 0;
    padding: 0;
}

.kephir-sagittarius-editor .tag-list ul {
    column-width: 22em;
    -moz-column-width: 22em;
    -webkit-column-width: 22em;
    padding: 0;
}

.kephir-sagittarius-editor .tag-list li {
    display: block;
    margin: 0;
}

.kephir-sagittarius-editor input.redirectText {
    width: 60%;
}

.kephir-sagittarius-editor input {
    vertical-align: middle;
}

.kephir-sagittarius-editor .status-line {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 1em;
}

dl.tag-list dt {
    font-size: 12pt;
    font-style: italic;
    font-weight: normal;
}

.capricorn-link {
    font-size: 15px;
    margin-left: 10px;
}

.capricorn-toggle {
    float: right;
}
