#create-redirect-button {
    margin-bottom: 20px;
}

#redirect-helper-box {
    width: 700px;
    max-width: calc(100% - 50px);
    margin-right: auto;
    margin-bottom: 25px !important;
    margin-left: auto;
    color: #202122;
    background-color: whitesmoke;
}

.redirect-input-layout label {
    font-weight: bold;
}

.redirect-helper-redirect-possibilities::after {
    font-style: italic;
    content: " (redirect with possibilities)";
}

.redirect-helper-template-parameters-container,
.redirect-helper-template-parameters-container details {
    margin-block: 10px;
    padding: 5px;
    background-color: #e2e2e2;
    border-radius: 5px;
}

.redirect-helper-template-parameters-container summary {
    font-weight: bold;
    cursor: pointer;
}

.redirect-helper-template-parameters-container details {
    margin-block: 5px;
    background-color: #d1cece;
}

#redirect-helper-no-templates-message {
    padding: 5px;
}

#redirect-helper-summary-layout {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid gray;
}

#redirect-helper-submit-layout {
    margin-top: 10px;

    & > * {
        margin-bottom: 0;
    }
}

.redirect-helper-warning {
    margin-top: 8px;
}

.redirect-helper-autofix-button {
    margin-left: 5px;
    font-size: 12px;

    & a {
        min-height: unset !important;
        padding: 3px 4px !important;
    }
}
