/* stylelint-disable custom-property-pattern */

#create-redirect-button {
    margin-bottom: 20px;
}

#redirect-helper-box {
    width: 700px;
    max-width: calc(100% - 50px);
    margin-right: auto;
    margin-bottom: 25px !important;
    margin-left: auto;
    color: var(--color-base, #202122);
    background-color: var(--background-color-neutral-subtle, #f8f9fa);
}

.redirect-input-layout label {
    font-weight: bold;
}

.redirect-helper-redirect-possibilities::after {
    font-style: italic;
    content: " (redirect with possibilities)";
}

.redirect-helper-template-parameters-container {
    margin-block: 10px;
    padding: 5px;
    background-color: var(--background-color-interactive, #eaecf0);
    border-radius: 5px;

    & summary {
        font-weight: bold;
        cursor: pointer;
    }

    & details {
        margin-block: 5px;
        padding: 5px;
        background-color: var(--background-color-interactive--hover, #dadde3);
        border-radius: 5px;
    }
}

#redirect-helper-no-templates-message {
    padding: 5px;
}

#redirect-helper-summary-layout {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid var(--border-color-base, #a2a9b1);
}

#redirect-helper-submit-layout {
    margin-top: 10px;

    & > * {
        margin-bottom: 0;
    }
}

.redirect-helper-warning {
    margin-top: 8px;
}

.redirect-helper-autofix-button {
    margin-left: 5px;
    font-size: 12px;

    & a {
        min-height: unset !important;
        padding: 3px 4px !important;
    }
}
