#rmtr-review-result {
    background-color: #b4d3ff;
    border: solid 1px #ddd;
    font-size: 0.8em;
    margin: 1em;
    padding: 2.5%;
}

#rmtr-review-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.rmtr-review-header {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0;
}

.rmtr-review-invalid-warning {
    color: indianred;
    font-weight: bold;
}

.rmtr-review-request-checkbox {
    margin: 3px 3px 0;
}

.rmtr-review-section-content {
    margin-left: 1em;
}

#rmtr-review-submit {
    margin-top: 0.2em;
}

/* Modified from Max Beier's "text-spinners" (https://github.com/maxbeier/text-spinners) */
#rmtr-review-loading {
    display: inline-block;
    height: 1.3em;
    line-height: 1.5em;
    margin-left: 3px;
    margin-top: -0.3em;
    overflow: hidden;
    vertical-align: text-bottom;
}

#rmtr-review-loading::after {
    animation: rmtr-review-loading 0.8s steps(10) infinite;
    content: '⠋\A⠙\A⠹\A⠸\A⠼\A⠴\A⠦\A⠧\A⠇\A⠏';
    display: inline-table;
    text-align: left;
    white-space: pre;
}

@keyframes rmtr-review-loading {
    to {
        transform: translateY(-15em);
    }
}
