#rmtr-review-result {
    margin: 1em;
    padding: 2.5%;
    color: #202122;
    font-size: 0.8em;
    background-color: whitesmoke;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
}

#rmtr-review-header {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}

.rmtr-review-header {
    margin: 0.5em 0;
    font-weight: bold;
    font-size: 1em;
}

.rmtr-review-invalid-warning {
    color: indianred;
    font-weight: bold;
}

.rmtr-review-request-checkbox {
    margin: 3px 3px 0;
}

.rmtr-review-section-content {
    margin-left: 1em;
    line-height: 1.3;

    & li + li {
        margin-block: 0.4rem;
    }
}

#rmtr-review-submit {
    margin-top: 0.2em;
}

/* Modified from Max Beier's "text-spinners" (https://github.com/maxbeier/text-spinners) */
#rmtr-review-loading {
    display: inline-block;
    height: 1.3em;
    margin-top: -0.3em;
    margin-left: 3px;
    line-height: 1.5em;
    vertical-align: text-bottom;
    overflow: hidden;

    &::after {
        display: inline-table;
        text-align: left;
        white-space: pre;
        animation: rmtr-review-loading 0.8s steps(10) infinite;
        content: "⠋\a⠙\a⠹\a⠸\a⠼\a⠴\a⠦\a⠧\a⠇\a⠏";
    }
}

@keyframes rmtr-review-loading {
    to {
        transform: translateY(-15em);
    }
}
